{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %} 


<!-- html content starts here -->

<!-- displaying Django messages
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
 -->
<div class="container">
<div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    </div>
</div>

<!-- Modal -->
<div class='row'>
    <div class='col-4'>
        <!-- Button trigger modal -->
        <div class="container">
            <form action = "" method = "POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Submit" class="btn btn-outline-primary">  
                <button type="button" class="btn btn-secondary float-end" data-bs-dismiss="modal">Close</button>
            </form>
        </div>
                   
    </div>

    <div class='col-8'>
        <div id="map" style="height: 500px; width: 500px;" class="container mt-5"></div>
    </div>
 </div>



{{ trips | json_script:"trips_json" }}

<script type='text/javascript'>  

    var map = L.map('map', {zoomControl: true}).setView([60, 9], 6);
    // Creating scale control
    var scale = L.control.scale();
    scale.addTo(map);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
         
    let locations = JSON.parse(document.getElementById('trips_json').textContent);
   
    const markers = L.markerClusterGroup();
    if(Object.keys(locations).length === 1){
        const marker = L.marker([locations.lat, locations.lon])
                        .bindPopup(locations.location)
        markers.addLayer(marker);
    } else {
        locations.forEach( element => {
            const marker = L.marker([element.lat, element.lon])
                            .bindPopup(
                                        '<div>'+
                                        //<img src='img/" + feature.properties.img_name + "' width='259'/>+
                                        '<b>'+element.location+'</b>'+
                                        '</br>' + 
                                        'From: '+element.start_date+'</br>'+
                                        'To: '+element.end_date+
                                        '</br>'+
                                        "<a href='https://www.google.com' target='_blank' rel='noopener noreferrer'>" + "Gallery" + "</a>"+
                                        '</div>'
                                        );      
            markers.addLayer(marker);
        })
    }
    map.addLayer(markers)

    var bounds = markers.getBounds();
    if (bounds.isValid()) {
        map.fitBounds(bounds, maxZoom=11);
    }

    markers.on('click', function(e) {
      map.flyTo(e.latlng, 9);      
    }); 

    function centerLeafletMapOnMarker(map, marker) {
        var latLngs = [ marker.getLatLng() ];
        var markerBounds = L.latLngBounds(latLngs);
        map.fitBounds(markerBounds);
    }


    

</script>


<!-- index.html content ends here -->
{% endblock %}