
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
    background-color: #F9FAFC;
    min-height: 3000px;
    padding-top: 56px;
}

header {
    width: 100%;
    top: 0;
    position: fixed;
}
#logo{
    color:rgb(13, 182, 41)
}

.navbar__base {
    background-color: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(1px);
}

.nav-item.dropdown .dropdown-item:hover {
    background-color: rgb(5, 43, 39) !important;
    color: white !important;
}


#hero-section{
    margin-top: 0;
}

fieldset {
  background-color: #eeeeee;
}


.social-icons a > i {
    color: #fafafa;
    opacity: 0.7;
    padding: 0 2rem;
}

.social-icons a>i:hover {
    scale: 1.5;
	opacity: 1;
    display:inline-block;
}

.card {
    transition: all 0.3s; 
}
.card:hover {
    scale: 1;
}

.sidebar {
    top: 0;
    left: 0;
}

.footer__base{
    max-height: 70px;
    margin: 0;
}