{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->

<h1 class="visually-hidden">Hero</h1>

<div class="b-example-divider"></div>

<section id="hero-section">

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'img/ai-generated-8782744_640.jpg' %}" class="d-block mx-lg-auto img-fluid"
                    alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center text-capitalize">
                    Welcome to ForestryBot Galore!
                </h1>
                <div>
                    <ul>
                        <li>
                            <p class="lead">
                                Explore advanced AI-driven solutions tailored for forestry management,
                                conservation, and optimization.
                            </p>
                        </li>
                        <li>
                            <p class="lead">
                                Increase efficiency, support sustainability, and harness data-driven insights to
                                revolutionize forestry practices.
                            </p>
                        </li>

                    </ul>
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 text-capitalize">take a
                            tour</button>
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Sign up!</button>
                    </div>
                </div>
            </div>
        </div>

</section>

<!-- index.html content ends here -->

{% endblock %}