{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->


<div class="container-fluid  ">

    <div class="row text-center">
        <div class="col-sm-2 sidebar">
            <div class="d-block bg-dark mt-5 p-5">
                <ul class="align-items-center">
                    <li>
                        <a href="#home">PLAYGROUND</a>
                    </li>
                    <li>
                        <a href="#home">PLAYGROUND</a>
                    </li>
                    <li>
                        <a href="#home">PLAYGROUND</a>
                    </li>
                    <li>
                        <a href="#home">PLAYGROUND</a>
                    </li>
                    <li>
                        <a href="#home">PLAYGROUND</a>
                    </li>
                </ul>


            </div>

        </div>

        <div class="col-sm-10 ">
            <div class="card fixed-bottom m-5 p-5">
                <div class="row">
                    <div class="form-floating col-11 gx-0 mx-0 py-0">
                        <textarea class="form-control " placeholder="Enter user message.." id="user-input"></textarea>
                        <label for="user-input">Enter user message...</label>
                    </div>
                    <div class="col-1">
                        <div class="card-body ">
                            <button class="btn btn-success" type="submit" id="run-user-input">
                                Run
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>



<!--
 <div class="input-group mb-3">
                                <label class="input-group-text" for="customFile">
                                    <i class="bi bi-images"></i>
                                </label>
                                <input type="file" class="form-control visually-hidden" id="customFile" accept="image/*"
                                    multiple onchange="showFiles(this)">
                                <button class="btn btn-success" type="button"
                                    onclick="document.getElementById('customFile').click()">
                                    Upload image(s)
                                </button>
                            </div>
    <div>
        <div class="card text-center mt-3">
            <div class="card-header">
                Chat History:
            </div>
            <div class="card-body">
                {% for response in chat_responses %}
                <div>
                    - {{response}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    -->





<!-- index.html content ends here -->

{% endblock %}