{% extends 'base.html' %} {% load static %} {% block content %}

<!-- html content starts here -->

<div class="container justify-content-center">
  <div class="row">
    <div class="col-sm-2">
      <ul class="d-flex position-fixed flex-column mt-2 p-2">
        <a href="#">Settings</a>
        <a href="#">Select model</a>
        <a href="#">Temperature</a>
        <a href="#">Maximum Tokens</a>
        <a href="#">Add function</a>
        <hr />
        <a href="#">Upload files</a>
      </ul>
    </div>

    <div class="col-sm-10">
      <div id="user-query-div" class="position-fixed w-50">
        <fieldset>
          <form method="POST">
            {% csrf_token %}

            <div class="form-group form-floating grow-wrap">
              <textarea
                class="form-control h-100"
                name="user-query-input"
                id="user-query-input"
                autofocus="autofocus"
                rows="1"
                onInput="this.parentNode.dataset.replicatedValue = this.value"
              >
              </textarea>
              <label id="user-query-input-label" for="user-query-input">
                User:
              </label>
            </div>
          </form>
           <button
              type="submit"
              id="btn-submit-user-query"
              class="btn btn-success"
            >
              <span id="run-span">
                <strong>Run</strong>
                <span id="ctrl-span">
                  Ctrl
                  <span class="ms-1"> ↵ </span>
                </span>
              </span>
            </button>
            
        </fieldset>
      </div>

      <div class="mb-4">
        <fieldset class="text-bg-dark">
          <legend>Assistant:</legend>
          <div class="col-11 gx-0 mx-0 py-0">
            <!-- Document field of the LangchainPgEmbedding model  -->
            <p id="bot-response">{{ most_similar.document }}</p>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<!-- index.html content ends here -->

{% endblock %}
