{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container justify-content-center">
  <div class="row">
    <form method="post" enctype="multipart/form-data" class="mt-5 py-5 text-bg-primary">
      {% csrf_token %}

      <input type="file" name="myfile" />
        <button type="submit" class="btn btn-primary">
          <span class="spinner-border spinner-border-lg text-white" 
                role="status"></span>
          Upload
        </button>
    </form>

    {% if uploaded_file_url %}
    <p>
      File uploaded at:
      <a href="{{ uploaded_file_url }}"> {{ uploaded_file_url }} </a>
    </p>
    {% endif %}

    <p>
      <a href="{% url 'home' %}">Return to home</a>
    </p>
  </div>
</div>
{% endblock %}
